<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meet The Team</title>
    <link rel="stylesheet" href="/static/newStyles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title_bar">
              <!-- logo -->
              <img src="/static/Icons/Logo.png" alt="Logo" class="sidebar-logo">
      <h4 class="title_text">Meet The Team</h4>
    </div>
    <div class="main_body">
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/LinkedInProfilePic.jpeg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Timothy Dube</h4>
          <h4 class="grade_level_text">Junior Computer Science Major</h4>
          <p class="about_me_text">
            <strong>About Me: </strong>I am a junior computer science major at
            Suny Oswego. I have 6 years of experience in programming and I am
            always looking for new project to hone my skills. Check out my
            website!
          </p>
          <div class="visit_website_text">
            <strong>Visit My Website: </strong>
            <span
              ><a href="https://timmydube.vercel.app/" target="_blank"
                >https://timmydube.vercel.app/</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:timdube0@gmail.com">timdube0@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Dan.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Daniel Maslowski</h4>
          <h4 class="grade_level_text">Senior Computer Science Major</h4>
          <p class="about_me_text">
            <strong>About Me: </strong>I am a dedicated second degree student at
            SUNY Oswego. I completed my first B.S. in Atmospheric Sciences and
            came back to my Alma Mater to pursue a second B.S. in Computer
            Science. I'm grateful to have been given the opportunity to combine
            both my passion for meteorology and computer science with this
            project for NASA's NEBP and share this project.
          </p>
          <div class="visit_website_text">
            <strong>Visit My Website: </strong>
            <span
              ><a href="https://danpmas.github.io/"
                >https://danpmas.github.io/</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:dpmaslowski@gmail.com">dpmaslowski@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Thomas.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Thomas Marten</h4>
          <h4 class="grade_level_text">Junior Computer Science Major</h4>
          <p class="about_me_text">
            <strong>About Me: </strong> I am Junior computer science major at
            Suny Oswego. I love problem solving, hiking and working on cool
            projects. This project was a great opportunity to lead, develop and
            design a Open source product and contribute to NASA efforts to
            monitor gravity waves.
          </p>
          <div class="visit_website_text">
            <strong>Visit My Github: </strong>
            <span
              ><a href="https://github.com/Tomicgun/Portfolio"
                >github.com/Portfolio</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:marten.j.th@gmail.com">marten.j.th@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="author_block">
        <div>
          <img
            src="/static/Icons/ProfilePic_Dunkin.jpg"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Duncan Zaug</h4>
          <h4 class="grade_level_text">Junior Computer Science Major</h4>
          <p class="about_me_text">
            <strong>About Me: </strong> I am junior CS student at SUNY Oswego, I
            have experience in a multitude of programming languages such as
            Python, FORTRAN, and C#. I am a hobbyist meteorologist and I like to
            fish in my spare time. This project was a excellent opportunity to
            connect my hobbies with my work and helped me learn a lot of new
            things about the worlds of both meteorology and software
            engineering.
          </p>
          <div class="visit_website_text">
            <strong>Visit My Github: </strong>
            <span
              ><a href="https://github.com/Offhornet28/Duncan-College-Projects"
                >github.com/Offhornet28</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
              <span> <a href="mailto:zaugboys@gmail.com">zaugboys@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="author_block">
        <div class="image_holder">
          <img
            src="/static/Icons/ProfilePic_Justyce.png"
            alt="Image of author"
            class="image_template"
          />
        </div>
        <div class="author_text_block">
          <h4 class="author_name">Justyce Countryman</h4>
          <h4 class="grade_level_text">Senior Computer Science Major</h4>
          <p class="about_me_text">
            <strong>About Me: </strong>At the time of making this project, I am
            in my final semester at SUNY Oswego. I am very interested in
            improving my coding and mathamatic skills. This project opportunity
            allowed me to get my first real-life simulation of how most
            tech-related jobs will be structured, and I could not be any more
            grateful for this team and the product we built together.
          </p>
          <div class="visit_website_text">
            <strong>Visit My Website: </strong>
            <span
              ><a
                href="https://lljustycell999.github.io/JustyceCountryman.github.io/"
                >JustyceCountryman.github.io/</a
              ></span
            >
          </div>
          <div class="contact_me_text">
            <strong>Contact Me: </strong>
            <span> <a href="mailto:countrymanjustyce2002@gmail.com">countrymanjustyce2002@gmail.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </body>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            var links = document.querySelectorAll('body a');
            links.forEach(function(link) {
                link.setAttribute('target', '_blank');
            });
        });
    </script>
    </html>



